<table>
    <thead>
        <tr>
            <th class="col1">NO.</th>
            <th class="col2">DESCRIPTION</th>
            <th class="col3">UNIT PRICE</th>
            <th class="col4">QUANTITY</th>
            <th class="col5">AMOUNT</th>
        </tr>
    </thead>

    <tbody>
    {% for entry in invoice.entries %}
        <tr>
            <td>#{{ loop.index }}</td>
            <td>{{ entry.description }}</td>
            <td class="col3">{{ entry.unitPrice }}</td>
            <td class="col4">{{ entry.quantity }}</td>
            <td class="col5">{{ entry.totalPrice }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
