<table id="order_item">
    <thead>
        <tr>
            <th class="col1">NO.</th>
            <th class="col2">DESCRIPTION</th>
            <th class="col3">UNIT PRICE</th>
            <th class="col4">QTY</th>
            <th class="col5">AMOUNT</th>
        </tr>
    </thead>

    <tbody>
    {% for item in invoice.orderItems %}
        <tr>
            <td style="text-align: center;">#{{ loop.index }}</td>
            <td>
                <span style="font-weight: bold;">{{ item.productItem.product.name }}</span><br />
                Category: {{ item.productItem.product.category.name }}<br />
                Color: {{ item.productItem.product.color.name }} 
                &nbsp;-&nbsp;
                Size: {{ item.productItem.size.value }}
            </td>
            <td class="col3">{{ item.productItem.product.price }}</td>
            <td class="col4">{{ item.amount }}</td>
            <td class="col5">{{ item.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
